
@{
    Layout = null;
}

<link href="~/403/style.css" rel="stylesheet" />

<!DOCTYPE html>
<html lang="en">
<body>
    <div class="container">
        <h1>Sorry folks, page is forbidden.</h1>
        <p>The moose out front shoulda told ya.</p>
    </div>
</body>
</html>
