<div class="tech-btm">
    <h4>Takipte kalmak için abone olun.</h4>
    <p>Yeni blog yazılarını mail olarak alın. </p>
    <form action="/Newsletter/SubscribeMail/" method="post">
        <input type="email" placeholder="Email" required="" name="Mail">
        <input type="submit" value="Subscribe">
    </form>
</div>