
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<button type="button" id="btngetlist" class="btn btn-primary">Yazar Listesi</button>
<button type="button" id="btngetbyid" class="btn btn-primary">Yazar Getir</button>

<div id="writerlist">
</div>

<div id="writerget">
</div>

<br />

<div>
    <input type="text" id="writerid" placeholder="Yazar id değerini girin" class="form-control" />
</div>

@section scripts{
    <script>
        $("#btngetlist").click(function () {
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                url: "/Admin/Writer/WriterList/",
                success: function (func) {
                    let w = jQuery.parseJSON(func);
                    console.log(w);
                    let tablehtml = "<table class=table table-bordered> <tr> <th>Yazar Id</th> <th>Yazar Adı</th> </tr>";
                    $.each(w, (index, value) => {
                        tablehtml += `<tr> <td>${value.id}</td> <td>${value.name}</td> </tr>`
                    });
                    tablehtml += "</table>";
                    $("#writerlist").html(tablehtml);
                }
            });
        });


        $("#btngetbyid").click(x => {
            let id = $("#writerid").val();
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "get",
                url: "/Admin/Writer/GetWriterById/",
                data: { writerid: id },
                success: function (func) {
                    console.log(func);
                }
            });
        });
    </script>
}