
@{
    ViewData["Title"] = "BlogListExcell";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>BlogListExcell</h1>

<a href="/Admin/Blog/ExportStaticExcellBlogList" class="btn btn-primary">Excell Listesini İndir</a>

